/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}

.image_block {
  position: relative;

}

.image_block:hover .close {
  display: block;
}

.close {
  position: absolute;
  top:10px;
  right: 1.6rem;
  display: none;
}
