<div  class="container" >
    <h1>Test project gallery</h1>
    <div class="row">
        <div class="col-lg-2 col-md-12 mb-2">
            <select ng-model="limit" ng-change="updateData()" class="form-control" id="selectLimit">
                <option>5</option>
                <option>10</option>
                <option>15</option>
                <option>20</option>
            </select>
        </div>
        <div class="col-lg-2 col-md-12 mb-2">
            <select ng-model="sort" ng-change="updateData()" class="form-control" id="selectSort">
                <option value="title">Title</option>
                <option value="date">Date</option>
            </select>
        </div>
        <div class="col-lg-2 col-md-12 mb-2">
            <input class="form-control"  ng-model="search" ng-change="updateData()" type="text" placeholder="Search by title">
        </div>
        <div class="col-lg-2 col-md-12 mb-2">
            <input type="checkbox" ng-model="auto" ng-change="onChangeRotation()" aria-label="Auto Rotation">
            <label class="form-check-label" >Auto Rotation</label>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2 col-md-12 mb-2 image_block"  ng-repeat="image in imageData.images">
            <button type="button" class="close" ng-click="deleteImage(image.id)" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <a> <img check-image class="img-thumbnail " ng-src="{{image.url}}" alt="{{image.title}}"
                     data-toggle="modal" data-target="#modalGallery" ng-click="selectImage($index)">
            {{image.title}}</a>
        </div>
    </div>

    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item"><a class="page-link" ng-click="prevPage()" >Previous</a></li>
            <li class="page-item" ng-class="$index === currentPage?'active':''" ng-repeat="x in [].constructor(pages) track by $index">
                <a class="page-link" ng-click="changePage($index)" >{{$index+1}}</a>
            </li>
            <li class="page-item"><a class="page-link" ng-click="nextPage()" >Next</a></li>
        </ul>
    </nav>

    <div class="modal fade" id="modalGallery" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-body mb-0 p-0">
                    <div id="carousel" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item"  ng-class="$index===selectedImage?'active':''"  ng-repeat="image in imageData.images">
                                <img class="d-block w-100" check-image ng-src="{{image.url}}?bg=777&fg=555&text={{image.title}}" alt="{{image.title}}">
                            </div>
                        </div>
                        <a class="carousel-control-prev" role="button" ng-click="prevImage()" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" role="button" ng-click="nextImage()" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
